@layer component;

.form{
	div{
		label{
			grid-row:1;
			grid-column:1;
		}
		input, select{
			grid-row:1;
			grid-column:1;
		}
		&:has(select){
			&:has(:not(option:checked(:first-child))){
				label{
					opacity:0;
				}
			}
		}
		&:has(input:placeholder-shown){
			label{
				opacity:0;
			}
		}
		&:has(:not(input:placeholder-shown)){
			
		}
	}
}