{% extends 'base.html.twig' %}

{% block title %}Components{% endblock %}

{% block body %}


<section class="list compList">
    <h1>Component list</h1>
	<ul data-controller="sort" data-sort-route-value="component">
		{% for comp in components %}
			<li draggable="true" data-sort-target="sortItem" rel="{{ comp.Id }}">
				<i class="fa-solid fa-bars"></i>
				<a class="transition duration-500 hover:text-cyan-300" href="{{ path('app_component_page', {id: comp.Id}) }}" title="">
					{{ comp.compName }}
				</a>
			</li>
		{% endfor %}
	<ul>
</section>
{% endblock %}
