{% extends '@!EasyAdmin/crud/index.html.twig' %}

{% block entity_actions %}
    <td class="actions">
        {% if entity.actions.count > 0 %}
            {% for action in entity.actions %}
				{% if action.name != 'edit' %}
                	{{ include(action.templatePath, { action: action, entity: entity, isIncludedInDropdown: ea.crud.showEntityActionsAsDropdown }, with_context = false) }}
				{% endif %}
            {% endfor %}                       
        {% endif %}
    </td>
{% endblock entity_actions %}

{% block page_actions %}
    {% block global_actions %}
        <div class="global-actions">
            {% for action in global_actions %}
                {{ include(action.templatePath, { action: action }, with_context = false) }}
            {% endfor %}
        </div>
    {% endblock global_actions %}
    {% block batch_actions %}
        {% if has_batch_actions %}
            <div class="batch-actions d-none">
                {% for action in batch_actions %}
                    {{ include(action.templatePath, { action: action }, with_context = false) }}
                {% endfor %}
            </div>
        {% endif %}
    {% endblock %}
{% endblock page_actions %}